$primary-color: #fafaff;
$tex-color: #757384;
$text-grey: #221e41;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", "sans-serif";
}

body {
  color: $tex-color;
  line-height: 1.5;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: $tex-color;
}

// 1440px, 1170px

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  //   background-color: #f7f7f7;
}

.container {
  max-width: 1170px;
  margin: 0;
  padding: 0 2rem;
  display: flex;
}

.header {
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  background-color: #f7f7f7;
  padding: 0 12rem;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  &__menu-list {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__menu-item {
    margin-left: 4rem;
  }
  &__menu-link {
    transition: color 0.3s;
    &:hover {
      color: $text-grey;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffc87a;
  & span {
    color: $text-grey;
  }
}

.banner {
  height: 44rem;
  background-color: $primary-color;
  background: url(../imgs/banner2.png) bottom center / cover no-repeat;
  border-radius: 0rem;
  font-size: 4rem;
  margin: 10rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  position: relative;
  &:before {
    content: "";
    z-index: -1;
    background-color: $primary-color;
    height: calc(100% + 7.4rem);
    width: calc(100% + 180px);
    position: absolute;
    top: 0;
    left: -12rem;
    border-bottom-right-radius: 10rem;
  }
  & .name {
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 2rem;
  }
  & .job {
    padding-left: 11rem;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 0.5rem;
      background-color: $tex-color;
      top: calc(50%);
      left: 0;
    }
  }
}

.contact {
  &__list {
    position: relative;
    width: 100%;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-left: -12rem;
    & .stick {
      width: calc(100% + 12px);
      height: 0.2rem;
      background-color: $tex-color;
      margin: auto 0;
      margin-right: 2rem;
    }
  }
  &__item {
    margin: 0 2rem;
    font-size: 2.4rem;
    color: $tex-color;
  }
}

.section-heading {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: $text-grey;
  letter-spacing: 0.8rem;
  font-weight: 600;
}
.about {
  padding: 0 12rem 4rem;
  width: 100rem;
  margin: 0 auto;
  &__desc {
    font-size: 2.4rem;
    text-align: center;
  }
}

.skills {
  margin: 0 12rem;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__half {
    width: 45%;
    font-size: 2.4rem;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    padding: 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    &-first1:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #32798f;
    }
    &-second1:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #d9809a;
    }
    &-third1:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #6abfd9;
    }
    &-fourth1:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #d9cf55;
    }
    &-first2:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #32798f;
    }
    &-second2:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #d9809a;
    }
    &-third2:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #6abfd9;
    }
    &-fourth2:before {
      position: absolute;
      content: "";
      width: 75%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #d9cf55;
    }
  }
  &__name {
    z-index: 1;
    color: #fff;
  }
  &__percent {
    z-index: 1;
    color: $text-grey;
  }
}

.project {
  position: relative;
  &:before {
    content: "";
    z-index: -1;
    background-color: $text-grey;
    height: calc(100% + 7.4rem);
    width: calc(100% - 60px);
    position: absolute;
    top: -4rem;
    left: 6rem;
    border-top-left-radius: 10rem;
  }
  &__title {
    margin-left: 12rem;
    margin-top: 8rem;
    font-size: 2.4rem;
    color: #fff;
    font-size: 3.6rem;
  }
}

.footer {
  height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
