* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", "sans-serif";
}

body {
  color: #757384;
  line-height: 1.5;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #757384;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  display: none !important;
}

.header {
  height: 10rem;
  width: 100%;
  line-height: 10rem;
  font-size: 2rem;
  background-color: #f7f7f7;
  padding: 0 12rem;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
}

.header__menu-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  margin-left: 4rem;
}

.header__menu-link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__menu-link:hover {
  color: #221e41;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: #ffc87a;
}

.logo span {
  color: #221e41;
}

.banner {
  height: 44rem;
  border-radius: 0rem;
  font-size: 4rem;
  margin: 10rem 12rem;
  line-height: 1.2;
  position: relative;
}

.banner:before {
  content: "";
  z-index: -1;
  background-color: #fafaff;
  height: calc(100% + 7.4rem);
  width: calc(100% + 180px);
  position: absolute;
  top: 0;
  left: -12rem;
  border-bottom-right-radius: 10rem;
}

.banner .name {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 2rem;
}

.banner .job {
  padding-left: 11rem;
  position: relative;
}

.banner .job:before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 0.3rem;
  background-color: #757384;
  top: calc(50%);
  left: 0;
}

.banner__background {
  position: absolute;
  height: 100%;
  right: 0;
}

.banner .container {
  position: relative;
  display: block;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__list {
  width: 100%;
  margin-top: -8rem;
  padding-right: 12rem;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact__list .stick {
  width: 100%;
  height: 0.2rem;
  background-color: #757384;
  margin: auto 0;
  margin-right: 2rem;
}

.contact__item {
  margin: 0 2rem;
  font-size: 2.4rem;
  color: #757384;
}

.section-heading {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #221e41;
  letter-spacing: 0.8rem;
  font-weight: 600;
}

.about {
  padding: 0 12rem 4rem;
  width: 100rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.about__desc {
  font-size: 2.4rem;
  text-align: center;
}

.skills {
  margin: 0 12rem;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__half {
  width: 45%;
  font-size: 2.4rem;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f3f3f3;
  padding: 0 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.skills__item-first1:before {
  position: absolute;
  content: "";
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #32798f;
}

.skills__item-second1:before {
  position: absolute;
  content: "";
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9809a;
}

.skills__item-third1:before {
  position: absolute;
  content: "";
  width: 65%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #6abfd9;
}

.skills__item-fourth1:before {
  position: absolute;
  content: "";
  width: 80%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9cf55;
}

.skills__item-first2:before {
  position: absolute;
  content: "";
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #32798f;
}

.skills__item-second2:before {
  position: absolute;
  content: "";
  width: 95%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9809a;
}

.skills__item-third2:before {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #6abfd9;
}

.skills__item-fourth2:before {
  position: absolute;
  content: "";
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #d9cf55;
}

.skills__name {
  z-index: 1;
  color: #fff;
}

.skills__percent {
  z-index: 1;
  color: #221e41;
}

.skills .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project {
  position: relative;
  padding-left: 12rem;
  padding-right: 12rem;
}

.project:before {
  content: "";
  z-index: -1;
  background-color: #221e41;
  height: calc(100% + 21rem);
  width: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  border-top-left-radius: 10rem;
}

.project__title {
  margin-top: 8rem;
  font-size: 2.4rem;
  color: #fff;
  font-size: 3.6rem;
}

.project__item {
  margin-top: 4rem;
  position: relative;
}

.project__img {
  border-radius: 4rem;
}

.project__overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4rem;
  opacity: 0.3;
}

.project__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  color: wheat;
}

.project .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  position: relative;
  margin-top: 4rem;
  padding: 2rem 12rem;
}

.contact:before {
  content: "";
  z-index: -1;
  background-color: #6937ff;
  height: calc(100%);
  width: calc(100% - 6rem);
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 10rem;
}

.contact .logo {
  font-size: 2.4rem;
}

.contact__info {
  width: 70%;
  float: left;
}

.contact__about {
  color: #fff;
  width: 15%;
  float: left;
  font-size: 1.6rem;
}

.contact__follow {
  color: #fff;
  width: 15%;
  float: left;
  font-size: 1.6rem;
}

.info__item {
  max-width: 35rem;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  color: #fff;
}

.info__item a {
  color: #fff;
}

.about__title {
  height: 3.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about__item {
  margin-bottom: 1.2rem;
}

.about__item a {
  color: #fff;
}

.follow__title {
  height: 3.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.follow__item {
  margin-bottom: 1.2rem;
}

.follow__item a {
  color: #fff;
}

.footer {
  color: #757384;
}

.up-arrow {
  position: fixed;
  width: 8rem;
  height: 8rem;
  background-color: #ccc;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-animation: open 0.5s;
          animation: open 0.5s;
}

.up-arrow i {
  font-weight: 8rem;
}

@-webkit-keyframes open {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes open {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */